@model ZooKing.Models.Area

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Area</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Zoo.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zoo.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            <img src=@Html.DisplayFor(model => model.Picture) alt="" style="width:267px;height:267px;">
        </dd>

    </dl>
</div>
<p>
    <div class="Extra" style="display:inline-block">
     @Html.ActionLink("ערוך", "Edit", new { id = Model.ID }) |
    </div>
     @Html.ActionLink("חזור", "Index")
</p>
