@model IEnumerable<ZooKing.Models.Area>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="Extra" style="display:inline-block">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Zoo.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Zoo.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        <td>
            <img src=@Html.DisplayFor(modelItem => item.Picture) alt="" style="width:267px;height:267px;">
        </td>
        <td>
            @Html.ActionLink(" גן החיות", "AreaAndZoo", new { id = item.ID }) |
            @Html.ActionLink("פרטים", "Details", new { id = item.ID })
            <div class="Extra" style="display:inline-block">|
                @Html.ActionLink("ערוך", "Edit", new { id = item.ID }) |
                @Html.ActionLink("מחק", "Delete", new { id = item.ID })
            </div>
        </td>
    </tr>
}

</table>
