<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    @Styles.Render("~/bundle/bootstrap-styles ")  
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryCycle")
    
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                $("img").animate({
                    height: 'toggle'
                });
            });
        });
    </script> 
</head>
<body >
    <div id="container-wrapper2">
        <div id="container-wrapper">
            <div id="container">
                <header>
                    <div id="pictures" >
                        <div id="s1" class="pics">
                            <img src="images/1.jpg"/>
                            <img src="images/2.jpg"/>
                            <img src="images/3.jpg"/>
                        </div>
                        <div id="s2" class="pics">
                            <img src="images/1.jpg" />
                            <img src="images/2.jpg" />
                            <img src="images/3.jpg" />
                        </div>
                        <div id="s3" class="pics">
                            <img src="images/1.jpg" />
                            <img src="images/2.jpg" />
                            <img src="images/3.jpg" />
                        </div>
                        <div id="s4" class="pics">
                            <img src="images/1.jpg" />
                            <img src="images/2.jpg" />
                            <img src="images/3.jpg" />
                        </div>
                    </div>
                    <div>
                        <nav>
                            <!-- Navigation -->
                            <ul>
                                <li class="selected">@Html.ActionLink("גני חיות", "Index", "Zoo", null, new { @class = "btn btn-primary" })</li>
                                <li>@Html.ActionLink("חיות", "Index", "Animal", null, new { @class = "btn btn-primary" })</li>
                                <li>@Html.ActionLink("אזורים", "Index", "Area", null, new { @class = "btn btn-primary" })</li>
                                <li>@Html.ActionLink("חדשות", "Index", "Report", null, new { @class = "btn btn-primary" })</li>
                                <li>@Html.ActionLink("התחברות", "Login", "Account", null, new { @class = "btn btn-primary" })</li>
                            </ul>
                        </nav>
                        <div id="News">
                            <h1>News</h1>
                            <p>Local and National News</p>
                        </div>
                    </div>
                </header>
                <div id="content">
                    <main>
                        <article>
                            <section class="content-wrapper main-content clear-fix">
                                <div id="mainContent">
                                    @RenderBody()
                                </div>
                            </section>
                        </article>
                        <aside>
                            <section>
                                קישורים לאתרים
                                קישורים לחארתה בארטה
                            </section>
                            <iframe src='http://www.israelweather.co.il/weather_out.asp?code_width=250&height=200&code_color=white&code_font_color=black' width=250 height=200 dir=rtl name='in_frame' frameborder='1' scrolling='No'></iframe>
                            <button>Change pictures Size</button>
                            <div id="transitionMan">

                            </div>
                        </aside>
                    </main>
                </div>
                <footer>
                    <nav>
                        <!-- Navigation -->
                        <ul>
                            <li class="selected">@Html.ActionLink("מחירון", "Index", "Zoo", null, new { @class = "btn btn-primary" })</li>
                            <li>@Html.ActionLink("צור קשר", "Index", "Animal", null, new { @class = "btn btn-primary" })</li>
                            <li>@Html.ActionLink("אודות", "Index", "Area", null, new { @class = "btn btn-primary" })</li>
                        </ul>
                    </nav>
                </footer>
                </div>
            </div>
        </div>
    <script>
        $('#s1').cycle({
            fx: 'scrollDown',
            speed: 3000,
            timeout: 2000,
            pause: 1,
            random: 1
        });
        $('#s2').cycle({
            fx: 'scrollDown',
            speed: 2500,
            timeout: 2000,
            pause: 1,
            random: 1
        });
        $('#s3').cycle({
            fx: 'scrollDown',
            speed: 2000,
            timeout: 2000,
            pause: 1,
            random: 1
        });
        $('#s4').cycle({
            fx: 'scrollDown',
            speed: 3000,
            timeout: 2000,
            pause: 1,
            random: 1
        });
   </script>
    <script>
        var userRole = '@User.IsInRole("Admins")';
        if (userRole =="True") {
            $('.Extra').css({ display: "normal" });
        }
        else
        {
            $('.Extra').css({ display:"none"});
        }

    </script>
     
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        </body>
        </html>
