<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="container-wrapper2">
        <div id="container-wrapper">
            <div id="container">
                <header>
                    <div class="pics">
                        <img id="s4" src="images/1.jpg" width="200" height="200" />
                        <img src="images/2.jpg" width="200" height="200" />
                        <img src="images/3.jpg" width="200" height="200" />
                    </div> 
                    <div>
                        <nav>
                            <!-- Navigation -->
                            <ul>
                                <li class="selected">@Html.ActionLink("גני חיות", "Index", "Zoo")</li>
                                <li>@Html.ActionLink("חיות", "Index", "Animal")</li>
                                <li>@Html.ActionLink("אזורים", "Index", "Area")</li>
                                <li>@Html.ActionLink("חדשות", "Index", "Report")</li>
                                <li>@Html.ActionLink("התחברות", "Login", "Account")</li>
                            </ul>
                        </nav>
                        <h1>News</h1>
                        <p>Local and National News</p>
                    </div>
                </header>
                <div id="content">
                    <main>
                        <article>
                            <section class="content-wrapper main-content clear-fix">
                                <div id="mainContent">
                                    @RenderBody()
                                </div>
                            </section>
                        </article>
                        <aside>
                            <section>
                                קישורים לאתרים
                                קישורים לחארתה בארטה
                            </section>
                            <iframe src='http://www.israelweather.co.il/weather_out.asp?code_width=250&height=200&code_color=white&code_font_color=black' width=250 height=200 dir=rtl name='in_frame' frameborder='1' scrolling='No'></iframe>
                        </aside>
                    </main>
                </div>
                <footer>
                    <section>
                        <nav>
                            <!-- Navigation -->
                            <ul>
                                <li class="selected">@Html.ActionLink("מחירון", "Index", "Zoo")</li>
                                <li>@Html.ActionLink("צור קשר", "Index", "Animal")</li>
                                <li>@Html.ActionLink("אודות", "Index", "Area")</li>
                            </ul>
                        </nav>
                        דפים סטטים(!!!!) של אודות פרטי התקשרות מחירון
                    </section>
                </footer>
                </div>
            </div>
        </div>
    <script>
        $('#s4').cycle({
            fx:      'scrollDown',
            speed:    300,
            timeout: 2000,
            pause: 1,
            random: 1
        });
    </script>
        @*<script>
                    var userRole = '@User.IsInRole("Admins")';
                    if (userRole =="True") {
                        alert("admin");
                        $('.Extra').css({ display: "normal" });
                    }
                    else
                    {
                        $('.Extra').css({ display:"none"});
                    }

                    </script>*@
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        </body>
        </html>
