@model IEnumerable<ZooKing.Models.Zoo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="Extra" style="display:inline-block">
    <p>
        @Html.ActionLink("צור חדש", "Create")

        @using (Html.BeginForm())
        {
        <p>
            Name: @Html.TextBox("Name") <br />
            Address: @Html.TextBox("Address") <br />
            Info: @Html.TextBox("Info") <br />
            <input type="submit" value="Filter" />
        </p>
        } 
    </p>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearOfEstablishment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Addres)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearOfEstablishment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Addres)
        </td>
        <td>
             @Html.ActionLink("פרטים", "Details", new { id = item.ID })
            <div class="Extra" style="display:inline-block">|
             @Html.ActionLink("ערוך", "Edit", new { id = item.ID }) |
             @Html.ActionLink("מחק", "Delete", new { id = item.ID })
            </div>
        </td>
    </tr>
}

</table>
